# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*                         @schneidergithub

/schema/                   @schneidergithub
/tools/                    @schneidergithub
/.github/                  @schneidergithub
/.github/ISSUE_TEMPLATE/   @schneidergithub
/benchmarks/               @schneidergithub
/dist/                     @schneidergithub
/tests/                    @schneidergithub

/docs/business/            @schneidergithub
/docs/software-development/ @schneidergithub
/docs/shared/              @schneidergithub
